<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Create New Post</title>
</head>
<body>
    <div class="container">
        <h1>Create a New Story</h1>
        <a href="/">← Back to Feed </a>
            <hr>
            <form action="/submit" method="POST" class="post-form">
                <input type="text" name="title" placeholder="Title" required>
                <input type="text" name="authorName" placeholder="Author's Name" required>
                <textarea name="content" placeholder="Write Your Story Here..." required></textarea>
                <button type="submit" class="btn btn-publish">Publish Story</button>
            </form>
    </div>
    
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> b41799e22587fa49448f71360d51474ee8fa074c
